body {
	font-family: "Open Sans", sans-serif;
}

.jumbotron {
    background-image: linear-gradient(to right, #23374d, #858f9b, #d9dadc);
    color: white;
    margin: 0;
    padding: 40px;
}

.navbar{
    background-color: #e5e5e5;
}

