body {
  font-family: "Open Sans", sans-serif; }

.jumbotron {
  background-image: linear-gradient(to right, #23374d, #858f9b, #d9dadc);
  color: white;
  margin: 0;
  padding: 40px; }

.navbar {
  background-color: #e5e5e5; }

.carousel {
  border: solid #858f9b; }

.site-footer {
  padding: 20px 0;
  margin-top: 20px;
  background-color: #525252;
  color: #e5e5e5; }

.site-footer i {
  color: #e5e5e5; }

.card-header {
  background-color: #23374d;
  color: #e5e5e5; }

.img-thumbnail {
  border: none; }

.jumboImg {
  width: 300px;
  height: auto; }

#cardBtn {
  background-color: #23374d;
  color: #e5e5e5; }

#groupPhoto {
  width: 70%; }
